header {
    display: flex;
}
header div.header-links{
    display: block;
    position: relative;
    translate: 90%;
}
header p{
    display: inline;
}
header div{
    display: flex;
    width: 70vw;
    justify-content: center;
}
header input[type="text"]{
    border-radius: 20px 0px 0px 20px;
}
header input[type="button"]{
    border-radius: 0px 20px 20px 0px;
}