@charset "UTF-8";
:root{
    --color1: #B3FF03;
    --color2: rgba(0, 0, 0, 0.521);
    --color3: #40E0D0;
    --color4: #3B89F7;
    --color5: white;
    --blacktext: black;
    --headertext: rgb(0, 0, 0);
    --bgcolor: rgba(0, 0, 0, 0.486);
    --blackshadow: rgba(0, 0, 0, 0.493);
    --whiteshadow: rgba(255, 255, 255, 0.479);
} 