@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;   
}
a{
    margin: 0px 5px;
}
.centerText{
    text-align: center;
}
main section h1{
    margin: 20px 0px;
}
section.textBoxBG{
    background-color: rgba(0, 0, 0, 0.507);;
    height: 75px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 20px;
}
section form p{
    margin: 10px 0px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
section form input.textbox{
    width: 225px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    border: none;
    padding: 5px;
}
section form input.textBoxCenter{
    margin: auto;
    display: block;
}
section form input.loginbt{
    margin: 20px auto;
    display: block;
}
