@charset "UTF-8";

@font-face{
    font-family: calculator;
    src: url("../fonts/Calculator.ttf")
    format("truetype");
}

*{
    margin: 0px;
}

main section.calcBody{
    background-color: rgb(51, 51, 51);
    width: 270px;
    height: 400px;
    border-radius: 10px;
    margin: 20px auto;
}
main section.calcDisplay{
    background-color: rgb(116, 158, 116);
    width: 80%;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    transform: translateY(20px);
}
main section.calcDisplay p.calcOutput{
    text-align: right;
    width: 100%;
    transform: translate(-10px, 10px);
    font-size: 2em;
    overflow: hidden;
    font-family: calculator;
}
main section.row{
    position: relative;
    left: 15px;
    top: 80px;
    height: 207px;
    width: 175px;
    margin: 0px;
    padding: 5px;
    border-radius: 10px;
}
main section.col{
    height: 211px;
    width: 58px;
    float: right;
    margin-right: 5px;
    position: relative;
    top: -136px;
    left: -10px;
    border-radius: 10px;
    padding-top: 5px;
}
main section input.bt{
    border-radius: 10px;
    position: relative;
    width: 54px;
    height: 48px;
    margin-bottom: 5px;
    background-color: rgb(61, 61, 61);
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 0px 0px 10px white;
}
main section input.doubW{
    width: 108px;
    margin: 0px 5px 0px 0px;
}